[submodule "apps/backend"]
	path = apps/backend
	url = git@github.com-tatx:tatxtion/hstay-backend.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = git@github.com-tatx:tatxtion/hstay-frontend.git
